/* Average Rating Chart */
.averageRating,
.ratingBreakdown {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  flex: 1;
}

.cardTitle {
  font-size: 16px;
  font-weight: 600;
  color: #000;
}

.ratingContent {
  display: flex;
}

.ratingChart {
  width: 170px;
  height: auto;
}

/* Rating Breakdown */
.ratingRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.ratingCount {
  color: #000;
  font-size: 12px;
}

.ratingPercentage {
  color: #6e6975;
}

/* Chart Axis */
.yAxis {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #615e83;
  font-size: 11px;
  margin-right: 10px;
}

.chartContent {
  flex-grow: 1;
}

.xAxis {
  display: flex;
  justify-content: space-between;
  color: #615e83;
  font-size: 11px;
  margin-top: 10px;
}

/* Responsive Adjustments */
@media (max-width: 1024px) { /* Tablets */
  .ratingChart {
    width: 150px;
  }
}

@media (max-width: 768px) { /* Phones */
  .ratingChart {
    width: 130px;
  }

  .ratingRow {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 480px) { /* Very small screens */
  .ratingChart {
    width: 100px;
  }

  .ratingCount {
    font-size: 10px;
  }

  .ratingPercentage {
    font-size: 10px;
  }
}
